NEXT_PUBLIC_SUPABASE_URL=https://shkxiqxcigegoagzqlqt.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNoa3hpcXhjaWdlZ29hZ3pxbHF0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ1MjY2NzIsImV4cCI6MjA5MDEwMjY3Mn0.z19HHr7fUrjAA0fGUOYooiRhSJA3un63AXMHN_mjnGA
